.bgArena{
   background: gray;
   margin:20px;
   box-shadow: 2px 2px 5px;
   height: 100vh;
   padding: 20px;
   border-radius: 10px;
}

.play-ground{
   display: grid;
   margin: auto;
   background-color: #ddd;
}